services:
  mongodb:
    image: mongo:6
    volumes:
      - mongo_data:/data/db

  backend:
    image: naniumesh/crud-backend:latest
    ports:
      - "8080:8080"
    depends_on:
      - mongodb

  nginx:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  mongo_data: