name: CI-CD Pipeline with Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend
        run: |
          docker build -t naniumesh/crud-backend:latest ./backend
          docker push naniumesh/crud-backend:latest

      - name: Build & Push Frontend
        run: |
          docker build -t naniumesh/crud-frontend:latest ./frontend
          docker push naniumesh/crud-frontend:latest

      - name: Deploy to Azure VM
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AZURE_HOST }}
          username: ${{ secrets.AZURE_USER }}
          key: ${{ secrets.AZURE_SSH_KEY }}
          script: |
            cd ~/crud-dd-task
            docker compose pull
            docker compose up -d
